.map {
  height: 100vh;
  width: 80%; 
}

.map .marker {
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  background-color: #2196f3;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease-in-out;
  outline: none;
}
.map .marker::before {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
  background-color: #26343c;
  color: #ffffff;
  position: absolute;
  top: -35px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.map .marker:hover,
.map .marker:focus {
  z-index: 1;
  transform: scale(1.2);
}
.map .marker:focus {
  border-color: #26343c;
}

.map .marker:focus::before {
  content: attr(dataname);
}